*{ 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: x-large;
}

header{
    height: 50vh;
    background-color: aqua;
    
}

h1 {
  text-align: center;
  text-shadow: 2px 2px #000000;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
.title {
    position: absolute;
    top: 5%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    background-color: white;
    height: 130px;
    width: 130px;
    position: absolute;
    margin-top: -12vh;
    margin-left: 80%;
    border-radius: 20%;
}

header img{
    object-fit:fill;
    width:100%;
    height:100%;
}
.contenedor{
    display: flex;
    
    background-color: black;
    }

nav{
    width:50vh;
    background-color: #EAB4F8;
    display: flex;
    flex-direction:column;
    font-size: xx-large;
    text-align:center;
    
}

nav li {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 20px;
    background-color: #FCC8F8;
    padding: 5px;
    }

nav a{
        
    text-decoration: none; 
    }

.seccion h2{ 
    color:black;
    background-color: #F3F798;
    height: 5vh;
    text-align: center;
    }

main{
    background-color:#C7F5FE;
    display: flex;
    width: 100%;
    padding: 50px;
}
h6 {
    display: flex;
    flex-direction: column;
}

.plan dt{
    margin: 10px;
}
.plan dd{
    margin-left:20px;
    text-align: justify;
}
.advertisements dd {
    margin: 15px ;
}

.information{
    display: inline;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
  
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #dddddd;
}
  
td {
    word-wrap: break-word;
    min-width: 100px;
}
  
.group {
    background-color: #f2f2f2;
  }

.info{
    margin:30px;
} 


.rules{
    padding: 50px;
    margin: 5px;
    text-align: justify;
    line-height:45px;
    
}

.rulesHead{
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
}

.paragraph {
    margin-left: 50px;
}


#alphabet{

    list-style-type: lower-alpha;
    margin-left: 30px;
}


#orderedList{
    margin-left: 50px;
}

#unorderedList{
    margin-left:90px ;
    list-style-type:circle;
}